.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}

.nav-ul li a{
  color: black;
  text-decoration: none;
  padding: 5px;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}
.register{
  margin-left: 40%;
}
.inputBox{
  padding: 7px;
  display: block;
  border: 1px solid;
  width: 300px;
  margin: 20px;
}
.appButton{
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: aqua;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 40px;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}